/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--themeColor);
    color: var(--textColor);
}
body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: var(--textColor);
    cursor: pointer;
}

/*  Global Variables */
:root {
    --themeColor: #ddf4fc; /* #C1C9EC */
    --textColor: #282a30;
    --bgColor: #F5F9FF;
    --textColorLight: #A7AABD;
    --textColorYellow: #B68A00;

    --textBlackLight : #474449;
    
    --boxColor : #fafbfc;

    /* Font Weight */
    --bold-1: 800;
    --bold-2: 600;
    --bold-3: 400;
    --bold-4: 200;
}

.navbar-section {
    position: fixed;
    display: flex;
    width: 100%;
    /* background-color: transparent; */
    background-color: var(--bgColor);
    align-items: center;
    padding: 8px 30px;
    z-index: 99;
    /* box-shadow: 0.3px 2px rgba(0, 0, 0, 0.4); */
}
.navbar-active {
    /* background: var(--bgColor); */
    /* box-shadow: 0.3px 1px 1px rgba(0, 0, 0, 0.4); */
    transition: 0.4s;
    background: transparent;
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7.5px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.navbar-left-section {
    width: 100%;
}
.navbar-left-link {
    display: flex;
    align-items: center;
}
.logos-navbar {
    width: 50px;
}
.main-title-navbar {
    font-size: 18px;
    margin-left: 8px;
}
.navbar-right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.main-option-navbar {
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    padding: 4px 14px;
    border-radius: 8px;
    border: 2px solid #42465664;
    background-color: var(--textColor);
    font-size: 12px;
    color: var(--bgColor);
}
.main-option-navbar:hover {
    background-color: #424656;
}
.main-option-navbar-2 {
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 8px;
}
.btnActive {
    display: none;
    border: 2px solid #42465664;
    border-radius: 8px;
    padding: 6px 70px;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    font-size: 12px;
}
.sign-btn-container {
    position: relative;
    display: flex;
    margin-left: 12px;
    gap: 12px;
    font-size: 12px;
}
.btnUnactive,
.logout-btn,
.sign-btn {
    border: 2px solid #42465664;
    border-radius: 8px;
    width: 100%;
    padding: 4px 12px;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    background-color: transparent;
}
.btnUnactive,
.logout-btn,
.btnActive:hover,
.login-btn:hover {
    background-color: var(--textColor);
    color: var(--bgColor);
    transition: all .4s ease;
}
.btn-hidden {
    display: none;
}
.btnUnactive {
    display: none;
}
/* .signup-btn {
    background-color: var(--textColor);
    color: var(--bgColor);
}
.signup-btn:hover {
    background-color: #2d3038;
    transition: all .5s ease;
} */

/*===== Menu Icon =====*/
.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}
.menu-icon div{
    display: block;
    background: var(--textColor);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}
.move .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.move .line2{
    opacity: 0;
}
.move .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

.wrapper{
    width: 100%;
    /* position: relative; */
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    display: none;
    background-color: rgba( 0, 0, 0, 0.4 );
}
.active-popup {
    display: flex;
    z-index: 99;
}
.form-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 450px;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    overflow: hidden;
    transition: height .2s ease;
}
.form-box form {
    padding: 0 30px;
    width: 100%;
}
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: var(--textColor);
    font-size: 2em;
    color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 16px;
    cursor: pointer;
}
.form-box h2 {
    font-size: 2em;
    color: var(--textColor);
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--textColor);
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 30px;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--textColor);
    font-weight: var(--bold-2);
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: 0px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    top: 5px;
    position: absolute;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--textColor);
    line-height: 60px;
    z-index: 99;
}
.icon .bi {
    cursor: pointer;
}
.icon-before {
    cursor: pointer;
}
.icon-after {
    display: block;
}
.eye-icon-disabled {
    display: none;
}
.remember-forgot {
    font-size: .9em;
    color: var(--textColor);
    font-weight: var(--bold-3);
    margin: -15px 0 15px 0;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label {
    align-items: center;
    display: flex;
}
.remember-forgot label input {
    accent-color: var(--textColor);
    margin-right: 3px;
    cursor: pointer;
}
.remember-forgot a {
    color: var(--textColor);
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.form-box .btn {
    width: 100%;
    height: 45px;
    background: var(--textColor);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register {
    font-size: .9em;
    color: var(--textColor);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration: underline;
}

.main-info-page {
    /* z-index: -99; */
    padding: 10rem 5rem;
    background-size: cover;
    background-image: url(../images/kevin-paes-bivb76x323s-unsplash.jpg);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10rem;
    justify-content: center;
    align-items: center;
    /* background-color: var(--bgColor); */
    gap: 10rem;
}
.left-info-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.left-title-info h2 {
    font-size: 42px;
    width: 100%;
}
.left-title-info h5 {
    font-size: 14px;
    width: 100%;
    font-weight: var(--bold-2);
}
.left-title-info h6 {
    margin-top: 12px;
    font-weight: 500;
}
.left-title-info h6 span {
    font-size: 12px;
    text-decoration: underline;
    font-weight: 700;
    width: 100%;
}
.validate-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.validate-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: var(--textColor);
    border-radius: 5px;
    color: var(--bgColor);
    padding: 4px 10px;
    cursor: pointer;
}
.validate-btn:hover {
    background-color: var(--textBlackLight);
}
.validate-btn a {
    font-size: 12px;
    font-weight: 300;
    color: var(--bgColor);
}
.download-title {
    font-size: 12px;
}
.download {
    font-size: 12px;
    background-color: var(--textColor);
    border: none;
    color: var(--bgColor);
    cursor: pointer;
}
.download:hover {
    background-color: var(--textBlackLight);
}
.tags-info {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    gap: 12px;
}
.tag-info {
    background: transparent;
    border: 1px solid var(--textColor);
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    cursor: default;
}
.tag-info:hover {
    background: #f5f9ffab;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}
.share-info {
    cursor: pointer;
}
.popup{
  position: absolute;
  /* position: fixed; */
  left: 50%;
  z-index: 10;
}
.btn-copy{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}
.popup{
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  top: -150%;
  max-width: 380px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transform: translate(-50%, -50%) scale(1.2);
  transition: top 0s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}
.popup.show{
  top: 50%;
  opacity: 1;
  pointer-events: auto;
  transform:translate(-50%, -50%) scale(1);
  transition: top 0s 0s ease-in-out, opacity 0.2s 0s ease-in-out, transform 0.2s 0s ease-in-out;
}
.popup :is(.popup-header, .icons, .field){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup .popup-header{
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}
.popup-header span{
  font-size: 21px;
  font-weight: 600;
}
.popup-header .close, .icons a{
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.popup-header .close{
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}
.popup-header .close:hover{
  background: #ebedf9;
}
.popup .content{
  margin: 20px 0;
}
.popup .icons{
  margin: 15px 0 20px 0;
}
.content p{
  font-size: 16px;
}
.content .icons a{
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
}
.icons a i{
  transition: transform 0.3s ease-in-out;
}
.icons a:nth-child(1){
  color: #1877F2;
  border-color: #b7d4fb;
}
.icons a:nth-child(1):hover{
  background: #1877F2;
}
.icons a:nth-child(2){
  color: #46C1F6;
  border-color: #b6e7fc;
}
.icons a:nth-child(2):hover{
  background: #46C1F6;
}
.icons a:nth-child(3){
  color: #e1306c;
  border-color: #f5bccf;
}
.icons a:nth-child(3):hover{
  background: #e1306c;
}
.icons a:nth-child(4){
  color: #25D366;
  border-color: #bef4d2;
}
.icons a:nth-child(4):hover{
  background: #25D366;
}
.icons a:nth-child(5){
  color: #0088cc;
  border-color: #b3e6ff;
}
.icons a:nth-child(5):hover{
  background: #0088cc;
}
.icons a:hover{
  color: #fff;
  border-color: transparent;
}
.icons a:hover i{
  transform: scale(1.2);
}
.content .field{
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}
.field.active{
  /* border-color: #7d2ae8; */
  border-color: var(--textColor);
}
.field i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}
.field.active i{
  /* color: #7d2ae8; */
  color: var(--textColor);
}
.field .input-copy{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}
.field .input-copy::selection {
    background-color: transparent;
}
.field .btn-copy{
  color: var(--bgColor);
  padding: 5px 18px;
  background: var(--textColor);
}
.field .btn-copy:hover{
  background: var(--textBlackLight);
}

.right-info-section {
    display: flex;
    flex-direction: column;
    background-color: var(--bgColor);
    padding: 2rem 1rem;
    width: 70%;
    /* background: var(--textColor); */
    background-image: url(../images/cool-background\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 8px 30px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.31); */
}
.right-icon-section {
    display: flex;
    justify-content: center;
}
.right-icon {
    width: 180px;
}
.right-title-info {
    display: flex;
    justify-content: center;
}
.right-title-info h4 {
    font-size: 32px;
}
.right-date-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1rem;
    margin-top: 2rem;
}
.right-date-info .date-info h6 {
    font-weight: var(--bold-3);
    color: var(--textBlackLight);
    font-size: 12px;
}
.right-date-info .mid {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.right-date-info .mid .month {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: var(--bold-3);
}
.right-date-info .mid .date-day {
    font-size: 52px;
    text-transform: uppercase;
}
.right-date-info .mid .day {
    font-size: 13px;
    text-transform: uppercase;
}
.right-date-info .date-info h5 {
    font-weight: var(--bold-2);
    color: var(--textColor);
}
.right-line-info {
    justify-content: center;
    display: flex;
    padding: 0 1rem;
    margin-top: 1rem;
}
.date-line {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--textColor);
}
.time-container {
    display: flex;
    align-items: center;
    gap: .5em;
    justify-content: center;
    margin-top: 2rem;
    /* padding: 0 1rem; */
}
.container-segment {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
}
.segment-time {
    display: flex;
    justify-content: center;
    background-color: var(--boxColor);
    border-radius: 8px 8px 0 0;
    padding: 8px 14px;
    width: 100%;
    color: var(--textColor);
    font-size: 28px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.segment-title {
    /* margin-top: 2px; */
    padding: 4px 14px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 0 0 8px 8px;
    background-color: var(--textColor);
    font-size: 12px;
    font-weight: var(--bold-3);
    color: var(--bgColor);
}
.validation-btn-section {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    margin-top: 2rem;
}
.validation-btn-closed,
.validation-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid #42465664;
    border-radius: 8px;
    padding: 6px 16px;
    font-weight: 500;
    cursor: pointer;
    /* background-color: var(--bgColor); */
    background-color: transparent;
    font-size: 18px;
}
.validation-btn-closed,
.validation-btn:hover {
    background-color: var(--textColor);
    color: var(--bgColor);
    transition: all .4s ease;
}
.validation-btn-off {
    display: none;
}
    
.competition-branch-page {
    width: 100%;
    padding: 0 3rem;
    justify-content: center;
    text-align: center;
    background-color: var(--bgColor);
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.more-info-section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.more-info-section .scroll {
    width: 100%;
    display: flex;
}
.more-info-section .scroll div {
    color: var(--bgColor);
    font-size:  32px;
    background-color: var(--textColor);
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    animation: animate 40s linear infinite;
}
.more-info-section .scroll div:nth-child(2) {
    animation: animate2 40s linear infinite;
    animation-delay: -20s;
}
.more-info-section .scroll div span {
    -webkit-text-stroke: 0.4px var(--bgColor);
    color: transparent;
}
@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes animate2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}
/* .more-info-section .scroll.text2 {
    transform: rotate(5deg) translateY(-33px) translateX(200px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
} */

.timeline-section {
    padding: 8rem;
    background-image: url(../images/faq-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 6rem 3rem;
}
.timeline-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
.timeline-wrapper .center-line  {
    position: absolute;
    height: 100%;
    width: 4px;
    background: var(--boxColor);;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}
.timeline-wrapper .row {
    display: flex;
}
.timeline-wrapper .row-1 {
    justify-content: flex-start;
}
.timeline-wrapper .row-2 {
    justify-content: flex-end;
}
.timeline-wrapper .row-3 {
    justify-content: flex-start;
}
.timeline-wrapper .row section {
    background: var(--boxColor);
    border-radius: 5px;
    width: calc(50% - 40px);
    /* width: calc(33% - 40px); */
    padding: 20px;
    position: relative;
}
.timeline-wrapper .row section::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: var(--boxColor);;
    top: 28px;
    /* z-index: -1; */
    transform: rotate(45deg);
}
.row-1 section::before {
    right: -7px;
}
.row-2 section::before {
    left: -7px;
}
.row-3 section::before {
    right: -7px;
}
.row section .icon,
.center-line .scroll-icon {
    position: absolute;
    background: var(--boxColor);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    /* color: var(--themeColor); */
    color: var(--textColor);
    /* top: 13px; */
    font-size: 17px;
    box-shadow: 0 0 0 4px var(--boxColor), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 1px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line .scroll-icon {
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}
.row-1 section .icon {
    right: -60px;
}
.row-2 section .icon {
    left: -60px;
}
.row-3 section .icon {
    right: -60px;
}
.row section .details,
.row section .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row section .details .title {
    font-size: 22px;
    font-weight: var(--bold-2);
}
.row section p {
    margin: 10px 0 17px 0;
}
.row section .details-date {
    text-decoration: none;
    background-color: var(--boxColor);
    color: var(--textColor);
    padding: 8px 0;
    border-radius: 5px;
    font-size: 24px;
}
.row section .details-date h6 {
    font-weight: var(--bold-2);
}

@media (max-width: 772px) {
    .timeline-wrapper .center-line {
        left: 40px;
    }
    .timeline-wrapper .row {
        margin: 30px 0 30px 60px;
    }
    .timeline-wrapper .row section {
        width: 100%;
    }
    .row-1 section::before,
    .row-3 section::before {
        left: -7px;
    }
    .row-1 section .icon,
    .row-3 section .icon {
        left: -60px;
    }
}

@media (max-width: 440px) {
    .timeline-wrapper .center-line,
    .row section::before,
    .row section .icon {
        display: none;
    }
    .timeline-wrapper .row {
        margin: 10px 0;
    }
}

.footer-page {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    justify-content: center;
    /* text-align: center; */
    background-color: var(--textColor);
    /* margin-top: -10px; */
    color: var(--bgColor);
}
.footer-top-section {
    justify-content: space-between;
    display: flex;
    padding: 0 3rem;
    align-items: center;
}
.footer-logo-main {
    display: flex;
    align-items: center;
    gap: 4px;
    /* justify-content: center; */
}
.footer-logo {
    width: 45px;
}
.footer-logo-title {
    color: var(--bgColor);
    font-size: 17px;
}
.footer-info {
    font-weight: var(--bold-3);
    color: var(--bgColor);
    font-size: 14px;
}
.footer-mid-section {
    padding: 0 3rem;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-sub-mid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.footer-icon-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-left: 8px;
}
.footer-icon-main .bi {
    font-size: 18px;
    /* color: var(--bgColor); */
    color: rgb(193,201,236);
}
.icon-title {
    text-decoration: underline;
    font-weight: 550;
    font-size: 14px;
    color: var(--bgColor);
}
.icon-title:hover {
    color: var(--textColorLight);
}
.footer-mid-section-responsive {
    display: none;
}
.footer-text-copyright-mid,
.footer-text {
    font-weight: 400;
    color: var(--textColorLight);
    font-size: 16px;
}
.design-name {
    text-decoration: underline;
    font-weight: 400;
    color: var(--textColorLight);
    font-size: 16px;
}
.design-name:hover {
    color: var(--textColorYellow);
}
.footer-line-section {
    /* display: flex; */
    justify-content: center;
    display: none;
}
.line-footer {
    margin-top: 14px;
    content: "";
    background-color: var(--bgColor);
    width: 100%;
    height: 1px;
}
.footer-text-copyright-bottom {
    /* display: flex; */
    display: none;
    justify-content: center;
    /* margin: 10px 0; */
}
.footer-text-copyright-bottom .footer-text {
    font-size: 18px;
    font-weight: 500;
}


@media screen and (max-width: 1024px) {
    .main-title-navbar {
        font-size: 20px;
    }
    .logos-navbar {
        width: 60px;
    }
    .main-option-navbar {
        font-size: 14px;
    }
    .sign-btn {
        border: 1.5px solid var(--textColor);
        padding: 4px 12px;
        font-size: 14px;
        border-radius: 5px;
    }
    .main-info-page {
        gap: 2rem;
        padding: 10rem 3rem;
    }
    .footer-icon > a {
        font-size: 20px;
    }
    .footer-text {
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    .main-title-navbar {
        font-size: 16px;
    }
    .logos-navbar {
        width: 45px;
    }
    .main-option-navbar,
    .main-option-navbar-2 {
        font-size: 12px;
    }
    .sign-btn {
        padding: 4px 10px;
        font-size: 12px;
        border-radius: 5px;
    }
    .wrapper {
        padding: 14rem 4rem;
    }
    .main-info-page {
        display: flex;
        flex-direction: column-reverse;
    }
    .right-info-section {
        width: 100%;
    }
    .footer-page {
        padding-bottom: 0;
    }
    .footer-information {
        display: none;
    }
    .footer-mid-info {
        font-weight: 500;
        color: var(--bgColor);
        font-size: 14px;
        padding-left: 8px;
    }
    .footer-mid-section {
        display: none;
    }
    .footer-mid-section-responsive {
        padding: 0 3rem;
        margin-top: 32px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-icon-main .bi {
        font-size: 14px;
    }
    .icon-title {
        font-size: 12px;
    }
    .footer-line-section {
        display: flex;
        justify-content: center;
    }
    .line-footer {
        height: .2px;
        background-color: rgb(101, 100, 100);
    }
    .footer-text-copyright-bottom {
        display: flex;
        justify-content: space-between;
        padding: 12px 3rem;
    }
    .footer-text-bottom,
    .design-name {
        font-size: 14px;
        font-weight: var(--bold-3);
        color: var(--textColorLight);
    }
    .footer-text-copyright-bottom .left {
        padding-left: 8px;
    }
}
@media screen and (max-width: 576px) {
    .main-title-navbar {
        font-size: 13px;
    }
    .logos-navbar {
        width: 32px;
    }
    .navbar-right-section{
        position: absolute;
        top: 0;
        right: -100%;
        width: 300;
        height: 100vh;
        background: rgba(255, 255, 255, 0.59);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 4.5px );
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 100px 20px;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .main-option-navbar,
    .main-option-navbar-2 {
        font-size: 12px;
        padding: 6px 62px;
    }
    .btnUnactive,
    .btnActive {
        display: block;
    }
    .menu-icon{
        display: flex;
    }
    .open-menu{
        right: 0;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .logout-btn,
    .sign-btn {
        display: none;
    }
    .wrapper{
        padding: 12rem 4rem;
    }
    .form-box {
        height: 400px;
    }
    .main-info-page {
        display: flex;
        flex-direction: column-reverse;
        padding: 10rem 2rem;
    }
    .footer-icon > a {
        font-size: 16px;
    }
    .footer-text {
        font-size: 12px;
    }
    .btn-hidden {
        display: none;
    }
}
@media screen and (max-width: 420px) {
    .navbar-section {
        padding: 8px 1rem;
    }
    .main-title-navbar {
        /* font-size: 10px; */
        display: none;
    }
    .logos-navbar {
        width: 32px;
    }
    .sign-btn {
        display: none;
    }
    .wrapper{
        padding: 10rem 2rem;
    }
    .form-box {
        height: 450px;
    }
    .main-info-page {
        width: 100%;
    }
    .popup.show {
        padding: 30px;
    }
    .popup {
        max-width: 280px;
    }
    .segment-time {
        border-radius: 8px 8px 0 0;
        padding: 8px 10px;
        font-size: 18px;
    }
    .segment-title {
        /* margin-top: 2px; */
        padding: 4px 10px;
        border-radius: 0 0 8px 8px;
        font-size: 10px;
    }
    .content p {
        font-size: 14px;
    }
    .content .icons a {
        height: 30px;
        width: 30px;
        font-size: 12px;
    }
    .content .field {
        height: 35px;
    }
    .field i {
        font-size: 14px;
    }
    .field .input-copy {
        font-size: 12px;
    }
    .field .btn-copy {
        padding: 2px 14px;
        font-size: 12px;
    }
    .footer-top-section {
        display: flex;
        justify-content: center;
    }
    .footer-logo {
        width: 30px;
    }
    .footer-logo-title {
        color: var(--bgColor);
        font-size: 12px;
    }
    .footer-mid-info {
        font-size: 12px;
        padding-left: 8px;
    }
    .footer-mid-section-responsive {
        padding: 0 1rem;
        margin-top: 32px;
        margin-bottom: 12px;
    }
    .footer-icon-main .bi {
        font-size: 12px;
    }
    .icon-title {
        font-size: 10px;
    }
    .footer-line-section {
        display: flex;
        justify-content: center;
    }
    .line-footer {
        height: .2px;
        background-color: rgb(101, 100, 100);
    }
    .footer-text-copyright-bottom {
        display: flex;
        justify-content: space-between;
        padding: 12px 1rem;
    }
    .footer-text-bottom,
    .design-name {
        font-size: 10px;
        font-weight: var(--bold-3);
        color: var(--textColorLight);
    }
    .footer-text-copyright-bottom .left {
        padding-left: 8px;
    }
    .btn-hidden {
        display: none;
    }
}